@media(max-width:768px){
    .navbar{
        display: grid;
        height: 160px;
        grid-template-columns: repeat(3,34%);
        grid-template-rows: repeat(2,50%);
        grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6"
        ;
    }

    .item1{
        grid-area: item1;
    }
    .item2{
        grid-area: item2;
    }
    .item3{
        grid-area: item3;
    }
    .item4{
        grid-area: item4;
    }
    .item5{
        grid-area: item5;
    }
    .item6{
        grid-area: item6;
    }
}

@media(max-width:520px){
    .navbar{
        display: grid;
        height: 240px;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(3,34%);
        grid-template-areas: 
        "item1 item2"
        "item3 item4"
        "item5 item6"
        ;
    }
}