@media(max-width:1024px){
    .paso-a-paso{
        width: 100%;
        padding: 0px 100px;
    }
}

@media(max-width:520px){
    .paso-a-paso{
        width: 100%;
        padding: 10px 25px;
        padding-bottom: 20px;
    }
}