.cohete {
    text-align: center; }
  
  .cohete h3 {
    font-family: "Krona One", sans-serif;
    font-size: 30px; }
  
  .cohete-productos {
    text-align: center; }
  
  .cohete-productos h3 {
    font-family: "Krona One", sans-serif;
    font-size: 30px; }
  
  .prendas{
    display: flex;
    justify-content: center;
    gap: 40px; }
  
  .prendas div {
    width: 300px;
    height: 300px;
    }
  
  .prendas div p{
    color: white;
    text-decoration: none;
    font-family: "Krona One", sans-serif;
    font-size: 25px; }

  .remera-prendas a{
    text-decoration: none;
    padding: 0px 300px 235px 300px;
    p{
      padding-left: 25px;
    }
  }

  .pantalon-prendas a{
    text-decoration: none;
    padding: 0px 300px 235px 300px;
    p{
      padding-left: 25px;
    }
  }

  .calzado-prendas a{
    text-decoration: none;
    padding: 0px 300px 235px 300px;
    p{
      padding-left: 25px;
    }
  }


.datos {
    display: flex;
    font-family: "Krona One", sans-serif;
    font-size: 15px; }
  
  .datos div {
    width: 100%;
    text-align: center; }
  
  .tarjeta {
    border-left: 1px solid black;
    border-right: 1px solid black; }

    .foto-negro{
      width: 100%;
      justify-content: center;
      text-align: center;
      }
      
      .foto-negro img{
        width: 50%;
        height: 5px;
        border-radius: 30px;
      }