.navbar {
    display: flex;
    width: 100%;
    height: 80px; }
  
  .navbar div {
    width: 100%;
    height: 100%;
    color: white;
    align-content: center;
    text-align: center; }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-family: "Jacques Francois", serif;
    font-size: 20px;
    padding: 25px 10px; }
  
  .item1:hover {
    background-color: #2c2c2c; }
  
  .item1:active {
    background-color: #3d3d3d; }
  
  .item2:hover {
    background-color: #2c2c2c; }
  
  .item2:active {
    background-color: #3d3d3d; }
  
  .item3:hover {
    background-color: #2c2c2c; }
  
  .item3:active {
    background-color: #3d3d3d; }
  
  .item4:hover {
    background-color: #2c2c2c; }
  
  .item4:active {
    background-color: #3d3d3d; }
  
  .item5:hover {
    background-color: #2c2c2c; }
  
  .item5:active {
    background-color: #3d3d3d; }
  
  .item6:hover {
    background-color: #2c2c2c; }
  
  .item6:active {
    background-color: #3d3d3d; }
  
  .item1 {
    background-color: #232323; }
  
  .item2 {
    background-color: #232323; }
  
  .item3 {
    background-color: #232323; }
  
  .item4 {
    background-color: #232323; }
  
  .item5 {
    background-color: #232323; }
  
  .item6 {
    background-color: #232323; }